python_dateutil==2.6.1
requests>=2.20.0<3.0.0
boto3>=1.7.28
google-cloud==0.33.1
google-resumable-media==0.3.1
google-cloud-storage==1.6.0
google-cloud-dataflow==2.5.0
setuptools==36.6.0
-e git+https://git@github.com/uc-cdis/cdislogging.git@0.0.2#egg=cdislogging
-e git+https://git@github.com/uc-cdis/indexclient.git@1.5.6#egg=indexclient
-e git+https://git@github.com/uc-cdis/cdiserrors.git@0.1.0#egg=cdiserrors
